# No whitespace after the comma or in your part name!
config SHIELD_MAGORI_LEFT
    def_bool $(shields_list_contains,magori_left)

# No whitespace after the comma or in your part name!
config SHIELD_MAGORI_RIGHT
    def_bool $(shields_list_contains,magori_right)