#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            bindings = <
            // ------------------------------------------------- GRAPHITE MOD -------------------------------------------------
            //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
            //|    ESC   |    B     |    L     |     D    |    W     |    Z     |   |   . ,    |    F     |    O     |    U     |    J     |    W     |
                 &kp ESC   &kp B      &kp L       &kp D     &kp W      &kp Z       &mt DOT COMMA &kp F      &kp O      &kp U      &kp J      &kp W
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼───────────┼─────────┼──────────┼──────────┼──────────┤
            //|    V     |    N     |    R     |    T     |    S     |    G     |   |    Y     |     H     |    A    |     E    |    I     |    K     |
                &kp V      &kp N      &kp R      &kp T      &kp S      &kp G          &kp Y       &kp H      &kp A      &kp E     &kp I      &kp K 
            //           |──────────┼──────────┼──────────┼──────────|                         |───────────┼──────────┼──────────┼──────────|
            //           |    Q     |    X     |    M     |    C     |                         |    P      |     : ;  |   ' "    |   / ?    |
                            &kp Q     &kp X      &kp M      &kp C                                &kp P  &mt SEMI COLON &mt SQT DQT &mt FSLH QMARK
            //
            //                                              |  TAB   |   RET    |   |  SPACE  |  BKSP   |
                                                             &kp TAB  &kp ENTER      &kp SPACE &kp BSPC
            >;
        };
        num { // Layer 1
            display-name = "num";
            bindings = <
            // ------------------------------------------------- NUMPAD -------------------------------------------------
            //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬───────────┬──────────┬──────────┬──────────┬──────────╮
            //|          |          |          |    [     |    ]     |    | \   |   |   - _    |     7     |    8     |    9     |          |          |
                 &none     &none      &none     &kp LBKT   &kp RBKT  &mt PIPE BSLH &mt MINUS UNDER &kp N7     &kp N8     &kp N9    &none      &none
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼───────────┼──────────┼──────────┼──────────┼──────────┤
            //|          |          |          |    (     |    )     |          |   |    0     |     4     |    5     |     6    |          |          |
                &none      &none      &none     &kp LPAR   &kp RPAR     &none          &kp 0       &kp N4     &kp N5      &kp N6    &none     &none 
            //           |──────────┼──────────┼──────────┼──────────|                         |───────────┼──────────┼──────────┼──────────|
            //           |          |          |    {     |    }     |                         |     1     |    2     |    3     |   + =    |
                            &none     &none     &kp LBRC    &kp RBRC                              &kp N1     &kp N2     &kp N3  &mt PLUS EQUAL
            //
            //                                            |  TAB     |   RET    |   |  SPACE   |    BKSP   |
                                                             &kp TAB  &kp ENTER      &kp SPACE   &kp BSPC
            >;
        };
    };
 };
